!!!
%html{ ng: { app: 'cocaine' } }
  %head
    %title Cocaine Flow
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    = stylesheet_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'

    = stylesheet_tag 'application'

  %body
    %base(href="/")
    .page-header
      %h1 Cocaine Ruby Flow
    .page( ng-view='' )
    = javascript_tag 'application', expand: true




