!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Cocaine Flow
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_tag 'application'
  %body
    .container
      werwqrwe
    = javascript_tag 'application'